/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
}
body {
  padding-left: 0.4vw !important;
  padding-right: 0.4vw !important;
}
.panel-body{padding: 1.2vw !important;}
.container-fluid{padding: 1.2vw !important;}
.MathJax_SVG_Display{
  margin-left: 10px;
  margin-right: 10px;
}
.navbar-inverse{
  top: -21px;
  left: -6px;
  width: 100vw;
  margin-bottom: -13px;
  border-radius: 0px;
}
.navbar-inverse > .container-fluid{
  padding: 0px 12px !important;
}
.navbar-nav > .active > a{
  background-color: #0808086b !important;
}
.navbar-nav {
  font-size: 14px;
}
.modal-body > .table{
  margin-bottom: 0px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 7px 8px;
}

body {
  background-color: rgb(245, 245, 245);
  font-family: "Open Sans", sans-serif;
  padding: 20px 5px;
  font-size: 13px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
.form-control-50{
      position: relative;
      z-index: 2;
      float: left;
      width: 50%;
      margin-bottom: 0;
}
.input-group .form-control-50 {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-group {
  margin-top: -1px;  
}

.glyphicon-2linhas {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 3.9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-2linhas .glyphicon-remove:before {
    content: "\e014";
}

.btn-no-border{
  border: 0px;
}

.perc100-px{
width: calc(100% - 1px);
}

.block-geral{
  display: block;
  width: 100%;
}

.inline-block-adicionar{
  display: inline-block;
  width: 25%;
  padding-left: 3px;
}

@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');

.panel-default > .bg-info {
    background: rgb(226, 226, 226); /*color: #fff;*/
}

canvas {
    border:1px solid #000;
}
